@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"; // body {
//     padding-top: 70px;
// }
@font-face {
    font-family: "amrtypen";
    src: url("../fonts/AMRTYPEN.TTF");
}

.font-amrtypen {
    font-family: "amrtypen";
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

.btn,
[ui-sref],
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;

    p {
        margin: 0;
    }
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;

    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;

        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}
//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }

    .flex-prev {
        left: 10px !important;
    }

    .flex-next {
        right: 10px !important;
    }
}
//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("../img/prev.png");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("../img/next.png");
}
/* Start writing sass here */
.get-center {
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
}

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

.display-inline {
    display: inline-block;
}

.header-wd {
    width: 90%;
    margin: 0 auto;
    background-color: $brand-warning;
}

.head-menu {
    .logo {
        margin: 0 auto;
        width: 110px;
    }
}

.row-flex {
    @include display(flex);
}

.col-flex {
    @include flex(1);
    // flex: 0 0 20%;
    // max-width: 20%;
}

.back-arw {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
}

.bdr-right {
    border-right: 1px solid #000;
}

.prev-btn {
    position: absolute;
    top: 20%;

    span {
        vertical-align: sub;
        padding: 0 10px;
    }
}
//branding

.branding-bg {
    background-image: url('../img/branding/brand-bg.png');
    background-size: cover;
}

.banner-sec {
    padding-top: 10%;
}

.brand-thief {
    width: 200px;
}

.img-brand {
    img {
        height: 196px;
    }
}

.identity-sec {
    font-size: 90px;
    line-height: 0.8;
    letter-spacing: 3px;
}

.dont-wry {
    font-size: 40px;
    color: $brand-warning;
    margin-left: 80px;
}

.brands-icons {
    position: relative;

    .batman-sec {
        position: absolute;
        bottom: 71px;
        right: 0;
        width: 250px;
    }
}

.custom {
    cursor: url('../img/branding/chor1.png'), auto;
}

.scroll-dwn {
    .down-arrow {
        font-size: 17px;
        background-color: lightgrey;
        border-radius: 50%;
        padding: 5px;
    }
}

.brand-content {
    padding-bottom: 50px;
    font-size: 16px;
    padding-top: 50px;
}

.some-oth {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 20px 0;
}

.thief-sec {
    position: absolute;
    -webkit-animation: mymove 5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    right: 20%;
    animation-direction: alternate;

    img {
        width: 120px;
    }
}
@keyframes mymove {
    from {
        top: 0;
        transform: rotate(45deg);
    }

    to {
        top: 350px;
    }
}

.brand-sec {
    display: inline-block;

    .brand-name {
        background-color: #000;
        // width: 100%;
        padding: 18px 0;
        color: #fff;
        font-family: "amrtypen";
    }
}

.brand-img {
    position: relative;
}

.pd5 {
    padding: 5px;
}

.btn-out:active:focus {
    outline: none;
}

.brand-add {
    border-radius: 50%;
    margin-top: -20px;
  &:active,
    &:focus {
        outline: none;
        background-color: yellow;
        color: #000;
    }
}

.header-content {
    padding: 60px 0;
}
///seo
.seo-bg {
    .banner-sec {
        padding-top: 8%;
    }
}
.thief-img{
  img{
    margin: 0 auto;
    width: 450px;
  }
}
.seo-sec{
  background-color: #000;
  color: #fff;
  padding: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
  letter-spacing: 2px;
  margin-top: 15px;
}
.seo-blocks{
padding-top: 60px;
}
.small-sec{
  width: 86%;
margin: 0 auto;
}
.count-50{
  font-size: 53px;
  width: 20%;
}
.keywords-sec{
  font-size: 20px;
      width: 36%;
          font-weight: 600;
}
.block-normal{
  font-size: 16px;
}
.start-sec{
  padding-top: 15px;
}
.mgt10{
  margin-top: -10px;
}
.block-1:last-child{
  border-right: none;
}
.block-1{
  border-right: 1px solid;
padding: 0;
    height: 175px;
  p{
    font-size: 16px;
    width: 66%;
margin: 0 auto;
font-weight: bold;
letter-spacing: 2px;
  }
}

.seo-content {
    font-family: "amrtypen";

    .srch-sec {
        font-size: 20px;
        letter-spacing: 2px;
    }
}
.block-2{
p{
  width: 75%;
}
.count-50{
  font-size: 40px;
width: 82%;
}
.inc-seo{
  width: 84%;
  margin: 0 auto;
}
}
.block-3{
  .keywords-sec {
    font-size: 20px;
    width: 46%;
    font-weight: 600;
}
.blk-cen{
  margin: 0 auto;
      width: 68%;
}
}
sup{
   font-size: 30px;
 }
 .video-bg{
     background-image: url("../img/branding/video-bg.png");
     background-size: cover;
     width: 100%;
     
    .bg-zimg{
        
            font-family:"amrtypen";
            color:black;
            text-shadow: 0px 0px;

            .arrow{
                height: 19px;
                width: 23px;
                margin-left: 24px;
                 margin-top: 14px;
            }

        
    }
     .video-img{
            margin-top: 60%;
           }
 
   img{
      
      width:89%;
     margin-left: 59px;
       }
        
        .bg-video{
            background-image: url("../img/branding/action-sec.png");
            width: 100%;
            height:694px;
            margin-top: -75px;
        
             background-size: cover;
             
 
                
}
.video-background{
    background-color:#4A4343;
   
    width:98%;
    margin-left: 7px;
    margin-top: 57px;
    border-radius: 27px;
    box-shadow: inset 3px 25px 83px 13px #000;

}
.video-img2{
    padding-top: 85px;
    padding-bottom: 71px;
    padding-left: 36px;
    padding-right: 36px;
}


 }
 .bg-black{
    background-image: url("../img/branding/Group-11.jpg");
    background-size: cover;
    //  height:1888px;
    width:100%;


  .bulbs-img{
       margin-top: 75px;
      margin-left: 131px;
      max-width:72%;

     
    position :relative;
  }
  .running-img{
    
width:24%;
top: 172px;
left:-197px;
   transform: rotate(-17deg);
      
position: absolute;

  }
 
  h1{
      font-size: 95px;
      padding-top: 9px;
      color:#eae602;

       font-family: "amrtypen";
  }
  p{
      font-size:15px;
      color:white;
      font-family: "amrtypen";
      padding-top: 10px;
      margin-left: 265px;
      margin-right: 286px;
  }
  .drop-down{
      margin-top: 33px;
  }
  select{
       background-color: black;
       color:#fff;
       width:37%;
       margin-left: 64px;
       font-size: 20px;
        font-family: "amrtypen";
        padding-left: 26px;
        padding-bottom: 20px;
        border-bottom: none;

  }
  
 
  ul{
      color:white;
      font-size:20px;
      
       list-style-type:none;
       padding-top: 20px;
       padding-bottom: 20px;
  }
  
}
.tv{
       margin-top: 71px;
    height: 443px;
  }
  .tv-div{
      margin-left: 20px;
      margin-right: 20px;
  }
 .tv-img{
     background-image: url("../img/branding/tv.png");
     background-size: cover;
     height:426px;
 }
 .info{
     margin-top: 100px;
 }
.strip{
    -webkit-clip-path: polygon(6% 0, 55% 0, 59% 14%, 4% 14%);
clip-path: polygon(6% 0, 55% 0, 59% 14%, 4% 14%);
background-color:black;
width: 206px;
height: 227px;
margin-left: 60px;
position:relative;
h3{
    color:#e6e6e6;
   padding-left: 22px;
       font-family: "amrtypen";
       font-size: 21px;
       padding-top: 6px;
}


}

   .strip2{
       -webkit-clip-path: polygon(5% 0, 55% 0, 53% 14%, 8% 14%);
clip-path: polygon(5% 0, 55% 0, 53% 14%, 8% 14%);
background-color: black;
width: 230px;
height: 227px;
margin-left: 60px;
position: relative;
h3{
    color:#e6e6e6;
    font-family: "amrtypen";
    font-size: 21px;
    padding-left: 24px;
    padding-top:4px;
}

   } 
.strip3{
  -webkit-clip-path: polygon(11% 0, 52% 0, 53% 14%, 8% 14%);
clip-path: polygon(11% 0, 52% 0, 53% 14%, 8% 14%);
background-color: black;
width: 245px;
height: 227px;
margin-left: 30px;
position: relative;
h3{
    color:#e6e6e6;
    font-family: "amrtypen";
    font-size: 21px;
    padding-left: 38px;
    padding-top:3px;
}
}
.strip4{
    -webkit-clip-path: polygon(10% 0, 66% 0, 69% 14%, 8% 14%);
clip-path: polygon(10% 0, 66% 0, 69% 14%, 8% 14%);
background-color: black;
width: 241px;
height: 227px;
margin-left: -45px;
position: relative;
h3{
    color:#e6e6e6;
    font-family: "amrtypen";
    font-size: 21px;
    padding-left: 38px;
    padding-top:3px;
}
}
.para{

     position:absolute;
     top:55px;
      margin-top: 20px;
      padding-left: 73px;
      padding-right: 32px;
       font-family: "amrtypen";
       font-size: 17px;
       font-weight: bold;
      span{
          display: block;
            font-family: "amrtypen";
      }
  }
  .para2{
      margin-top: 20px;
      padding-left: 66px;
      padding-right: 78px;
       font-family: "amrtypen";

  }
  .hello-z{
      margin-top: 30px;
      position: relative;
  }
  .zebra{
      position: absolute;
      width:20%;
      margin-top: 102px;
      margin-left: -4px;
      z-index: 1;
  }
  .bg-text{
      background-color: black;
      background-size: cover;
      margin-top: -5px;
 

      p{
          color:yellow;
          font-size: 12px;
         margin-left: 142px;
         margin-right: 142px;
         margin-top: 44px;
         margin-bottom: 44px;
            font-family: "amrtypen";
            text-align: justify;
            span{
                display: block;
                text-align: center;
            }
      
      
  }
  


  

@import "fancybox-override";
@import "mobile";
  }