<div class="branding-bg">
  <div class="container">
<div class="banner-sec">
  <div class="row">
    <div class="col-md-offset-2 col-md-3 col-sm-6 col-xs-4 col-xs-push-1">
        <img src="img/branding/chor.png" alt="" class="img-responsive display-inline brand-thief">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-7">
    <div class="header-content">
      <h1 class="identity-sec font-amrtypen">identity crisis?</h1>
      <br>
              <span class="font-amrtypen dont-wry">worry not!</span>
    </div>
  </div>
  </div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="brand-content text-center font-amrtypen">
    <p>We love it.We love it.We're mothers in our right.we've given birth to so many brands,sometimes even adopted them and given them a future.
    </p>
    <p>And on a not so motherly note,yes we do have a favourite.</p>
    <div class="scroll-dwn">
      <i class="fa fa-arrow-down down-arrow" aria-hidden="true"></i>
  </div>
  </div>
</div>
</div>
    <div class="brands-icons">
      <div class="row-flex brand1">
        <div class="col-flex img-brand">
          <img src="img/branding/1.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/2.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/3.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/4.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/5.png" alt="" class="img-responsive">
      </div>
      </div>
      <div class="brands-icons">
      <div class="row-flex brand1">
        <div class="col-flex img-brand">
          <img src="img/branding/1.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/2.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/3.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/4.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/5.png" alt="" class="img-responsive">
      </div>
      </div>
      <div class="row-flex brand1">
        <div class="col-flex img-brand">
          <img src="img/branding/6.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/7.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/8.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/9.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/10.png" alt="" class="img-responsive">
      </div>
      </div>
      <div class="row-flex brand1">
        <div class="col-flex img-brand">
          <img src="img/branding/11.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/12.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/13.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/14.png" alt="" class="img-responsive">
      </div>
        <div class="col-flex img-brand">
          <img src="img/branding/15.png" alt="" class="img-responsive">
      </div>
      </div>
      <div class="batman-sec">
        <img src="img/branding/batman.png" alt="" class="img-responsive">
      </div>
      <div class="thief-sec">
        <img src="img/branding/chor1.png" alt="" class="img-responsive">
      </div>
      <p class="text-center font-amrtypen some-oth">
        some others too!
      </p>
    </div>
<div class="other-brand">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 pd5">
  <div class="brand-sec text-center">
        <div class="brand-img">
          <img src="img/branding/1.png" alt="" class="img-responsive">
        </div>
    <div class="brand-name text-center">
      lorem-ipsum
  </div>
<button type="button" class="btn btn-default brand-add btn-out">+</button>
</div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6 pd5">
<div class="brand-sec text-center">
      <div class="brand-img">
        <img src="img/branding/1.png" alt="" class="img-responsive">
      </div>
  <div class="brand-name text-center">
    lorem-ipsum
</div>
<button type="button" class="btn btn-default brand-add btn-out">+</button>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-6 pd5">
<div class="brand-sec text-center">
    <div class="brand-img">
      <img src="img/branding/1.png" alt="" class="img-responsive">
    </div>
<div class="brand-name text-center">
  lorem-ipsum
</div>
<button type="button" class="btn btn-default brand-add btn-out">+</button>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-6 pd5">
<div class="brand-sec text-center">
    <div class="brand-img">
      <img src="img/branding/1.png" alt="" class="img-responsive">
    </div>
<div class="brand-name text-center">
  lorem-ipsum
</div>
<button type="button" class="btn btn-default brand-add btn-out">+</button>
</div>
</div>

  </div>
</div>
  </div>
</div>