<div class="seo-bg">
    <div class="container">
        <div class="banner-sec">
            <div class="seo-content">
                <p class="text-center srch-sec">Search Engine Optimization</p>

                <div class="thief-img">
                    <img src="img/seo/typethief.png" alt="" class="img-responsive">
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="text-center seo-sec">We are witnessing some glory days in our SEO business</p>
                        <p class="text-center seo-sec small-sec">Seems like Google really likes us.. so should you.</p>
                    </div>
                </div>
      <div class="seo-blocks text-center">
  <div class="block-1 display-inline">
    <p>Natural Cold Pressed Juice Company</p>
    <div class="start-sec">
      <span class="block-normal">Ranked for over</span>
      <div class="mgt10">
          <div class="count-50 display-inline"> 50 </div><div class="keywords-sec display-inline">keywords on the first page </div>
      </div><div class="mgt10">
        <span class="block-normal">of Google search</span>
      </div>
    </div>
</div>
<div class="block-1 display-inline block-2">
  <p>Retail Entertainment Space</p>
  <div class="start-sec">
    <div class="inc-seo">
      <span class="block-normal">Increased SEO lead aquisition from</span>
    </div>
    <div class="mgt10">
        <div class="count-50 display-inline">80-48 leads </div>
    </div><div class="mgt10">
      <span class="block-normal">via SEO in 5 months</span>
    </div>
  </div>
</div>
<div class="block-1 display-inline block-3">
  <p>Primary School</p>
  <div class="start-sec">
    <div class="inc-seo">
      <span class="block-normal">Ranked over 20 keywords in the</span>
    </div>
    <div class="mgt10">
          <div class="count-50 display-inline"> 1<sup>st</sup> </div><div class="keywords-sec display-inline">position of the first page</div>
    </div><div class="mgt10 blk-cen">
      <span class="block-normal">along with brand search &amp; site links</span>
    </div>
  </div>
</div>

  </div>
            </div>
        </div>
    </div>
</div>
