<div class="video-bg">
    <div class="banner-sec">
      <div class="bg-img">
        <div class="video-img">
        <div class="  bg-zimg">
          <!---<div class="col-md-6">
            <div class="arrow">
                  <img src="img/branding/arrow.png" alt="" class="img-responsive" >
                </div>
                </div>-->
                <h2 class="text-center">what are you waiting for?</h2>
                <div class="col-md-2 col-md-push-5">
                <div class=" arrow">
                  <img src="img/branding/arrow.png" alt="" class="img-responsive" >
                </div>
                </div>
            <img src="img/branding/action.png" alt="" class="img-responsive" >
            <div class="bg-video">
              <div class="container">
                <div >
                   <div class="video-background">
                     <div class="video-img2">
                     <img src="img/branding/video-img.png" alt="" class="img-responsive">
                     </div>
                   </div>
                   </div>
                </div>
      </div>
        </div>
        
        </div>
      </div>

      
      
    </div>
    <div class="bg-black">
      <div class="container">
       

      <div class="col-md-12">
        <div class="bulbs-img">
        <img src="img/branding/bulbs.png" alt="" class="img-responsive bulbs " >
        
       
        <img src="img/branding/Running-Burglar.png" class="img-responsive running-img">
        </div>
        
      </div>
       </div>
    
      <div class="text-center">
        <h1>videos</h1>
        <p class="text-center"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been</span><span> the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of</span> <span>type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also</span><span> the leap into electronic typesetting, remaining essentially unchanged.</span></p>
      
      <div class="drop-down">
        <select>
          
          <option>All</option>
          <option> Search Engine Optimization</option>
         <option>2nd Animations & Motion Graphics</option>
          <option>Event Coverage</option>
          <option>Candid</option>
        <option>Activations</option>
          <option>Brand videos</option>
          <option>Food & Entrepreneurs</option>
          <option>Fashion & Jewellery</option>
          <option>Behind The Scense</option>
         <option>Social Media GIFS</option>
          <option>Concept Presentation</option>
        </select>   
      </div>
      </div>
     
      <div class="tv">
        <div class="tv-div">
          <div class="tv-img">
       <!--<img src="img/branding/tv.png" class="img-responsive ">-->
          </div>
        </div>
      </div>
    </div>
    
    

<div class="container">
  <div class="row">
    <div class="info">
      <div class="col-md-3 ">
           <div class="strip">
         <h3>Mumbai</h3>
         
      </div>
      
          <div class="para"><p>1308 Panchratna Building,
             <span> Opera House,</span>
               <span>Charni Road,</span>
                Mumbai-400 004</p>
                <div class="para2">
           <div  > <p>+91 9867597223
              +91 982028264</p></div></div>
        </div>
    </div>
        <div class="col-md-3">
          <div class="strip2">
            <h3>Chennai</h3>
          </div>
            <p class="para">#16 III Main Road,
            Seethammal colony,
            Alwarpet,
            <span>Chennai-600 018</span></p>
            <div class="para2">
             <div><P><span>+91 9867597223</span>
              <span>+91 9820282644</span></P></div></div>
        </div>
        <div class="col-md-3">
          <div class="strip3">
            <h3>Sydney</h3>
          </div>
          <p class="para">209,Harris Street,
          pyrmont,
         <span> NSW 2009,</span>
          Australia</p>
          <div class="para2">
          <div class><p ><span>+61 800 60 400
            +61 425 1000 47</span></p></div></div>
          
        </div>
        <div class="col-md-3">
        <div class="strip4">
          <h3>Karnataka</h3>
        </div>
          <p class="para">#729,10th Main
            <span> jayanagar 4th Block,</span>
            opp MES School
            <span> Bengalura,</span>
           <span>Karnataka 560011</span></p>
            <div class="para2">
            <div><p ><span>+91 99801 66344</span>
              <span>+91 98404 88224</span></p></div></div>
        </div>
    </div>
  </div>
  
  <div class="col-md-9 col-md-push-3 hello-z">
     <img src="img/branding/hello.png" class="img-responsive ">
  </div>
     <div class="col-md-8 col-md-push-8 zebra">
         <img src="img/branding/zebra.png" class="img-responsive ">
     </div>
  

</div>

    </div>
    
    <div class="col-md-12 bg-text">
      <p> It is long etsablished fact that a reader will be distracted by the readable content of a page when looking at its layout.
        the point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,as opposed to
        using 'content here','content here',making at look readable English.Many desktop publishing packages and web page
        editors now LOrem Ipsum as their default model text,and a search for 'lorem ipsum' will uncover many web sites
        still in their infancy.various Varsions <span>have evolved over the year,sometimes by accident,sometimes on purpose
        (injecated humour and the like).</span></p>
      
    </div>
    
<!--<div class="video-content">
  <p class="text-center font-amrtypen scroll-sec">what are you waiting for ?</p>
<div class="action-sec">
  <div class="container">
  <div class="camera-sec">
    <img src="img/video/action.png" alt="" class="img-responsive">
  </div>
  
  </div>
</div>
</div>
</div>

</div>
  <div class=container>
    <div class=a>
      </div>
    <div class=vid-sec>
         <h1>MUMBAI</h1>
      </div>
      <div class=a>
      </div>
</div>-->