<div class="seo-bg">
  <div class="container">
    <div class="banner-sec">
      <div class="seo-content">

        <p class="text-center srch-sec">Search Engine Optimization</p>
        <div class="thief-img">
          <img src="img/seo/typethief.png" alt="" class="img-responsive">
        </div>


        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3">
            <p class="text-center seo-sec">We are witnessing some glory days in our SEO business</p>
            <p class="text-center seo-sec small-sec">Seems like Google really likes us.. so should you.</p>
          </div>
        </div>

 <div class="row ">
   <div class="col-md-offset-1 col-md-10">
       <div class="row">
        <div class="seo-blocks text-center">


         <div class="col-md-4 col-sm-6 col-xs-12"> 
           <div class="block-1 display-inline">
            <div class="seo-title-bg">
              <p>Natural Cold Pressed</p>
             </div>
              <div class="seo-title-bg">
              <p class="wp2">Juice Company</p>
             </div>
             <div class="start-sec">
              <span class="block-normal">Ranked for over</span>
              <div class="mgt10">
                <div class="count-50 display-inline"> 50 </div>
                <div class="keywords-sec display-inline">keywords on the first page </div>
              </div>
              <div class="mgt10">
                <span class="block-normal">of Google search</span>
              </div>
            </div>
          </div>
         </div>
        
      
        <div class="col-md-4 col-sm-6 col-xs-12 ">
          <div class="block-1 display-inline block-2">
            <div class="seo-title-bg">
              <p>Retail Entertainment</p>
             </div>
              <div class="seo-title-bg">
              <p class="wp2">Space</p>
             </div>
            <div class="start-sec">
              <div class="inc-seo">
                <span class="block-normal">Increased SEO lead aquisition from</span>
              </div>
              <div class="mgt10">
                <div class="count-50 display-inline">80-48 leads </div>
              </div>
              <div class="mgt10">
                <span class="block-normal">via SEO in 5 months</span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="block-1 display-inline block-3">
              <div class="seo-title-bg">
              <p>Primary School</p>
             </div>
              <div class="start-sec">
                <div class="inc-seo">
              <span class="block-normal">Ranked over 20 keywords</span>
                </div>
              <div class="mgt10">
                <div class="count-50 display-inline"> 1<sup>st</sup> </div>
                <div class="keywords-sec display-inline">position of the first page</div>
              </div>
              <div class="mgt10 blk-cen">
                <span class="block-normal">along with brand search &amp; site links</span>
              </div>
              </div>
          </div>
        </div>
      
        
        
</div>  
 </div>
   </div>
    </div>
      
  
    
<div class="row section-2">
   <div class="col-md-offset-2 col-md-8">
     <div class="row">

   <div class="col-md-6 col-sm-6 col-xs-12 ">
     <div class="block-1 display-inline block-4">
         <div class="seo-title-bg">
          <p>Sport Association</p>
          </div>
          <div class="seo-title-bg">
          <p class="wp2">For children</p>
          </div>
            <div class="start-sec">
               <div class="inc-seo">
                 <div class="mgt10 blk-cen">
               <span class="block-normal">Sport organization for Children's Inter school sport- Related keyword</span>
               </div>
               </div>
                 <div class="mgt10">
                   <div class="keywords-sec display-inline">ranked on the first page </div>
                     <span class="block-normal">allowing to get over</span>
                      <div class="count-50 display-inline"> 800 </div>
                        <div class="student-sec display-inline">Student leads </div>
                         <div class="mgt10 blk-cen">
                         <span class="block-normal">during their first Annual tournament</span>
                         </div>
                  </div>         
             </div>
        </div>
   </div>

 <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="block-1 display-inline block-5">
            <div class="seo-title-bg">
              <p>Marketing and </p>
             </div>
              <div class="seo-title-bg">
              <p class="wp2">Crestive agency</p>
             </div>
            <div class="start-sec">
              <div class="inc-seo">
                <span class="block-normal">SEO or an agency made them</span>
              </div>
              <div class="mgt10">
                <div class="keywords-sec display-inline">ranked on</div>
                <div class="count-50 display-inline"> 1<sup>st</sup> </div>
                <div class="keywords-sec display-inline">position </div>
              </div>
              <div class="mgt10 blk-cen">
              <span class="block-normal">(main business keyword) which enable over 2-4 new client lead daily </span>
               </div>
            </div>
          </div>
        </div>
    
    
</div>
   </div>
     </div>
          
        </div>
      </div>
    </div>
  </div>